DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/blog_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog_db

SECRET_KEY=change_this_secret_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=60